*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  width: 288px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-img-top {
  display: flex;
  justify-content: center;
}

.search-form {
  padding: 10px;
}

.card {
  margin: 10px;
}
